.book-container {
    padding-top: 3em;

    h2 {
        margin-bottom: 2em;
    }
}

td {
     .feather:hover {
         transition: all .2s ease-out;
         transform: scale(1.2);
     }
}

// .btn {
//     background-color: #95969b !important;
// }